.footer {
    display: flex;
    align-items: baseline;
    gap: 2.5rem;
    font-family: Pleasure, Segoe UI, Roboto, Oxygen, Ubuntu,  sans-serif;
    position: fixed;
    bottom: 0;
    width: 97vw;
    background-color: $background;
    padding-left: 20px;

    &__logo {
        font-size: 5rem;
        max-height: 40px;
        margin-bottom: 20px;
    }

    &__text {
        font-size: 2.5rem;
    }
}

/* Tablets */
@media only screen and (max-width: 900px) {
    .footer {
        flex-wrap: wrap;
        gap: .5rem;
        &__logo {
            font-size: 4rem;
            margin-bottom: 6px;

        }

        &__text {
            font-size: 2rem;
        }
    }
}

@media only screen and (max-width: 400px) {
    .footer {
        &__text {
            font-size: 1.8rem;
        }
    }
}