.footer {
    display: flex;
    align-items: baseline;
    gap: 3rem;
    font-family: Pleasure, Segoe UI, Roboto, Oxygen, Ubuntu,  sans-serif;

    &__logo {
        font-size: 6rem;
    }

    &__text {
        font-size: 3rem;
    }
}