.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    width: 80%;
    height: 80%;
    border-radius: 20px;
    background-color: #fff;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: auto;

    &__close {
        position: absolute;
        right: 20px;
        top: 20px;
        padding: 0;
    }

    &__title {
        font-size: 2rem;
        position: absolute;
        top: 20px;
    }

    &__description {
        position: absolute;
        top: 60px;
    }

    &__video {
        width: 95%;
        height: 85%;
        align-self: flex-end;
    }

    &__link {
        font-size: 2rem;
        text-decoration: underline;
    }

    &__podcast {
        padding-top: 150px;
    }

}
