.preview-list__item {
    cursor: pointer;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    outline: solid 2px #fff;
    transition: all .3s ease;

    &:hover {
        transition: all .3s ease;
        outline: solid 2px $primary-color;
        box-shadow: 0 7px 14px rgba(14,14,125,0.25), 0 5px 5px rgba(14,14,125,0.22);
        transform: scale(1.01);
    }

    &__inner {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;

        &__title {
            padding-top: 40px;
            font-size: 2.2rem;
            padding-left: 10px;

        }
    
        &__subtitle {
            font-size: 1.8rem;
            padding-left: 10px;

        }

        &__line {
            content: '';
            position: absolute;
            top: 50%;
            width: 200px;
            height: 4px;
            background-color: $primary-color;
            z-index: 10;
        }

        &__controls {
            position: absolute;
            background-color: $background;
            bottom: 10px;
            left: 10px;
            width: 90px;
            height: 20px;
            padding: 4px 10px;
            text-align: left;
            border-radius: 15px;
            border: solid .5px $font-main;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 1.4rem;

            .button-play {
                width: 0;
                height: 0;
                border: 0 solid transparent;
                border-bottom-width: 8px;
                border-top-width: 8px;
                border-left: 12px solid $primary-color;
            }

            .button-pause {
                width: 4px;
                height: 15px;
                border-left:4px solid $primary-color;
                border-right: 4px solid $primary-color;  
            }

            .duration {
                position: absolute;
                left: 40px;
            }

    }

    }

    &--active {
        outline: solid 2px $primary-color !important;
        box-shadow: 0 7px 14px rgba(14,14,125,0.25), 0 5px 5px rgba(14,14,125,0.22);
        transform: scale(1.01);
    }

}

/* Phones */
@media only screen and (max-width: 440px) {
    .preview-list__item {
        width: 250px;
        height: 250px;
    }
}