.profile-card {
    display: flex;
    gap: 3rem;
    justify-content: space-around;
    padding: 0 3rem;

    &__image {
        max-width: 50%;
        max-height: 80vh;
    }

    &__description {
        width: 50%;


        &__title {
            font-size: 3rem;
        }
    }
}