.preview-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 2rem 10rem;
    flex-wrap: wrap;
}

.card-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 15px;
    row-gap: 15px;
    justify-items: center;
}

/* Tablets */
@media only screen and (max-width: 1100px) {
    .card-list {
        grid-template-columns: repeat(3, 1fr);

    }
    .preview-list {
        padding: 2rem;
    }
}

/* Phones with larger screens */
@media only screen and (max-width: 700px) {
    .card-list {
        column-gap: 8px;
        row-gap: 8px;
        grid-template-columns: repeat(2, 1fr);
    }
    .preview-list {
        padding: 1rem;
        gap: 2rem;
    }
}

/* Phones */
@media only screen and (max-width: 400px) {
    .card-list {
        grid-template-columns: repeat(1, 1fr);
    }
}