html,
body {
  font-family: Pleasure, Segoe UI, Roboto, Oxygen, Ubuntu, sans-serif;
  color: $font-main;
  background-color: $background;
  overflow-x: hidden;
}

.main {
  max-width: 100vw;
}

.wrapper {
  padding-bottom: 75px;
  padding-top: 70px;
}