.landing-page {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;

    &__background {
        position: fixed;
        top: 0;
        right: 0;
        z-index: -1;
        object-fit: cover;
        min-height: 100%;
        min-width: 100%;
    }

    &__card {
        margin: 6rem;
        color: #fff;
        font-family: Pleasure, Segoe UI, Roboto, Oxygen, Ubuntu, sans-serif;
        font-size: 3.5rem;

        &__title {
            font-size: 6rem;
            margin-bottom: 10rem;
        }

        &__description {
            margin-bottom: 3rem;
        }

        &__btn {
            margin: 0 !important;
            margin-right: 3rem !important;
        }

    }

}

.fade-out {
    transition: 1s;
    transform: translateY(-100%);
    opacity: 0;
}

.btn {
    padding: 1rem;
    margin: 1.5rem;
    color: #eee;
    background-color: $primary-color;
    border-radius: 10px;
    border: none;
    transition: all .3s ease-in-out;

    a {
        padding: 2rem 2rem;

    }

    &:hover {
        color: #ffffff;
        background-color: $primary-hover;
        filter: drop-shadow(0 0 0.75rem $primary-color);
        transition: all .3s ease-in-out;
    }
}

/* Phones with larger screens */
@media only screen and (max-width: 767px) {
    .landing-page {
        height: unset;

        &__card {
            margin: 1rem;

            &__description {
                font-size: 2rem;
            }
        }

        &__background {
            height: 100% !important;
        }
    
    }

    .btn {
        text-align: center;
        width: 85vw;
        margin: 1rem 0 !important;
    }
}