.filters-list {
    display: flex;
    gap: 5px 20px;
    padding: 0 20px;
    margin-bottom: 10px;
    flex-wrap: wrap;

    &__item {
        cursor: pointer;
        
        &:after {
            content: '';
            width: 0;
            height: 1px;
            display: block;
            background: $primary-color;
            transition: all .3s ease;
            margin-left: 1px;

        }
        &:hover {
            color: $primary-hover;
            transition: all .3s ease;
        }

        &:hover:after {
            transition: all .3s ease;
            width: 100%;
        }

        &--active {
            color: $primary-hover;
        }

        &--active:after {
            width: 100%;
        }

    }
}