@charset 'utf-8';

/*****************************************************************
   01. HELPERS
   Helper functions & non-output snippets
   (Variables, mixins, functions, etc.)
*****************************************************************/
@import "1-helpers/_variables";
// @import "01-abstracts/mixins";


/*****************************************************************
   02. BASE
   Reset, typography, global styles
*****************************************************************/
@import "2-base/_reset";
@import "2-base/_globals";
// @import "02-base/main";
// @import "02-base/typography";


/*****************************************************************
   03. COMPONENTS
   Micro-level, reusable components
   (Each does one thing only. Ex: buttons)
*****************************************************************/
@import "3-components/__Nav";
@import "3-components/__ProjectsList";
@import "3-components/__Project";
@import "3-components/__Preview";
@import "3-components/__Profile";
@import "3-components/__References";
@import "3-components/__Footer";
@import "3-components/__404";
// @import "03-components/buttons";


/*****************************************************************
   04. LAYOUTS
   Unique combos of components & base styles
   (Grids, specific page styles, etc.)
*****************************************************************/
@import "4-layouts/__LandingPage";
@import "4-layouts/__PortfolioPage";


/*****************************************************************
   05. UTILITIES
   Overrides and custom utility classes
*****************************************************************/
// @use "05-utilities/display";
// @use "05-utilities/kellum";


/*****************************************************************
   06. VENDOR/THIRD-PARTY
*****************************************************************/
// @use "06-vendor/fontawesome/fontawesome.scss";
// @use "06-vendor/fontawesome/regular.scss";