// Colors
$primary-color: #FFA492;
$primary-hover: #f4765d;
$font-main: #0E0E7D;
$background: #E9EDF0;

// Local fonts
@font-face {
    font-family: Pleasure;
    src: url("../../public/fonts/PleasureStandardTrial-Regular.woff") format("woff");
}